.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navbar-brand {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.container {
  margin: 0 1rem;
}

.ql-container.ql-snow {
  min-height: 80vh;
}

@media screen and (min-width: 320px) {
  .navbar-brand-logo{
    width: 20vh;
  }

  .ql-container.ql-snow {
    min-height: 60vh;
  }
}

@media screen and (min-width: 768px) {
  .navbar-brand-logo{
    width: 30vh;
  }

  .ql-container.ql-snow {
    min-height: 70vh;
  }
}
